@model List<TicketyBoo.Models.Haunt>

@{
    ViewData["Title"] = "Home Page";
}

<h1 class="mb-4 text-center text-light">Upcoming Haunts</h1>

<div class="row">
    @foreach (var Haunt in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card h-100 shadow-sm bg-black text-light">
                <img src="@Haunt.ImagePath" class="card-img-top" alt="@Haunt.Title" width="200">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">@Haunt.Title</h5>
                    <p class="card-text text-light">
                        <strong>Date & Time:</strong>
                        @Haunt.Date.ToString("MMMM dd, yyyy h:mm tt")
                    </p>
                    <p class="card-text flex-grow-1 text-light">@Haunt.Description</p>
                    <p class="card-text text-light"><small class="fst-italic text-light">@Haunt.Location</small></p>
                    <a href="Haunts" class="btn btn-dark mt-auto">Learn More</a>
                </div>
            </div>
        </div>
    }
</div>
