@model TicketyBoo.Models.Haunt

@{
    ViewData["Title"] = "Details";
}

<h1 class="mb-4 text-center text-light">Haunt Details</h1>

@if (!String.IsNullOrEmpty(Model.ImagePath))
{
    <div>
        <img src="@Model.ImagePath" alt="@Model.Title" class="w-50 align-content-center"  />
    </div>
}

<div>
    
    <hr />
    <dl class="row bg-black text-light ali">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Organizer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Organizer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.Title)
        </dd>
        @* <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Purchase.Quantity)
        </dd> *@

        @if (Model.Purchases != null && Model.Purchases.Any())
        {
            <h4 class="text-light mt-4">Purchases</h4>
            <table class="table table-sm table-dark">
                <thead>
                    <tr>
                        <th>Customer</th>
                        <th>Email</th>
                        <th>Quantity</th>
                        <th>Purchase Date</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var p in Model.Purchases)
                    {
                        <tr>
                            <td>@p.CustomerName</td>
                            <td>@p.CustomerEmail</td>
                            <td>@p.Quantity</td>
                            <td>@(p.CreateDate.ToString("g"))</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p class="text-light">No purchases yet for this haunt.</p>
        }
    </dl>
</div>
<div>
    <a asp-action="Edit"  asp-route-id="@Model?.Id">Edit</a> |
    <a asp-controller="Home" asp-action="Index">Back to List</a>
</div>
