@model IEnumerable<TicketyBoo.Models.Haunt>

@{
    ViewData["Title"] = "Index";
}

<h1 class="mb-4 text-center text-light">Haunt Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table bg-black text-light">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FormFile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @if(!String.IsNullOrEmpty(item.ImagePath))
                {
                    <img src="/photos/@item.ImagePath" alt="@item.ImagePath" class="thumbnail"/>
                }
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Title)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
